<p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></p>

<p><%= portfolio_item.body %></p>

<p><%= portfolio_item.body %></p>

<%= image_tag portfolio_item.thumb_image if !portfolio_item.thumb_image.nil? %> <br/>
<%= link_to "Edit", edit_portfolio_path(portfolio_item) %> <br/>
<%= link_to "Delete Portfolio", portfolio_path(portfolio_item), method: :delete, data: {confirm: 'Are you sure you want to delete?' } %> <br/>