<h1>Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |p| %>

    <b>
        <%= link_to p.title, portfolio_path(p) %>
    </b> <br/>
    <p>
    <%= p.body %>
    </p>
    <%= image_tag p.thumb_image if !p.thumb_image.nil? %> <br/>
    <%= link_to "Edit", edit_portfolio_path(p) %> <br/>
<% end %>